<!DOCTYPE html>
<html>
<head>
  <title>PyRelDB Demo</title>
</head>
<body>
  <h1>PyRelDB Web Demo</h1>

  <button onclick="init()">Init DB</button>
  <button onclick="loadUsers()">Load Users</button>
  <h3>Add User</h3>
  <input id="uid" placeholder="id" />
  <input id="uname" placeholder="name" />
  <button onclick="addUser()">Add</button>


  <pre id="output"></pre>

  <script>
    async function init() {
      await fetch("/init", { method: "POST" });
      alert("DB initialized");
    }

    async function loadUsers() {
      const res = await fetch("/users");
      const data = await res.json();
      document.getElementById("output").textContent =
        JSON.stringify(data, null, 2);
    }
    async function addUser() {
     const id = document.getElementById("uid").value;
     const name = document.getElementById("uname").value;

    await fetch("/users", {
      method: "POST",
      headers: {"Content-Type": "application/json"},
      body: JSON.stringify({id: Number(id), name})
  });

      loadUsers();
}
  </script>
</body>
</html>
